<div class="jumbotron container">

    <div class=" p-5 d-flex justify-content-between">
        <div>
            <img src="../../../assets/images/icon3.png" />
        </div>
        <div>
            <img src="../../../assets/images/logo_seniorencafeclean.png" class="imgRespon" />
        </div>

    </div>
    <div class="">
        <li>
            <button class="btn btn-secondary btn-lg btn-block">
                playlist1
            </button><br>
            <button class="btn btn-secondary btn-lg btn-block">
                playlist2
            </button><br>
            <button class="btn btn-secondary btn-lg btn-block">
                playlist3
            </button><br>
            <button class="btn btn-secondary btn-lg btn-block">
                playlist4
            </button>
        </li>
    </div>
</div>
